.anchor-pane{
    -fx-background-color:  rgb(100, 100, 100);
}

.button{
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #000000);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.button:hover{
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #000000);
}

.text-field{
    -fx-border-color: #000;
    -fx-border-width: .5px;
}

.text-field:focused{
    -fx-border-color: linear-gradient(to bottom right, #ffffff, #000000);
    -fx-border-width: .8px;
}


.table-view {
    -fx-background-color: #FFFAFA;
    -fx-background-radius:14 14 0 0;
    
}
.table-view .column-header-background{
        -fx-background-color: white;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;
       
        
        
 }
.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color: transparent;
        
}
    
.table-view .column-header .label {
        -fx-text-fill: black;
 }

.icon{
    -fx-cursor: hand;
}